*  {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items:  center;
    height: 100vh;
}

main{
    width: 510px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;

    & .user-input{
       display: flex;
       flex-direction: column;
       gap: 10px;

       & label{
        color: #505050;
       } 
       
       & input{
        padding: 14px 26px;
        border-radius: 6px;
        outline: none;
        border: 2px solid #610ec0c9;
        width: 100%;
    }

 }
    & #btnCalcular{
    background-color:#6d26bee8 ;
    border-radius: 6px;
    padding: 13px;
    font-weight:bold ;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  & #btnCalcular:hover{
    padding: 11px;
    background-color: rgb(247, 247, 247) ;
    color: #6d26bee8  ;
    border:  2px solid #6d26bee8 ;
  }
}

.res{
    color: #ababab;
    text-align: center;
    
    & p {
     width:  254px;
     margin: auto;

    }

    display: flex;
    flex-direction: column;
    
    & div {
    display:  flex;
    color: #505050;
    }

    & div:first-child {
    border-bottom:  #6d26bee8 2px solid ;
    padding-bottom: 10px;
    font-weight: 700;
    }

    & div:last-child {
        padding-top: 10px;
    }
}

.tabela {
    display: flex;
    width: 510px;
   
    border: #ffffff 1px solid;
    

    & .imc {
       width: 260px;
        & p:nth-child(odd){
            background-color: #b4b2b2;
        }
       
        & p:first-child{
            color: blueviolet;
            font-weight: 700;
        }
    }
     
    & .classificacao{
        width: 260px;
        & p:nth-child(odd){
            background-color: #b1afaf;
        }

        & p:first-child{
            color: blueviolet;
            font-weight: 700;
        }
    }

    & p{
        padding:  12pxpx;
        width: 100%;
        color: #4b4949;
    }
@media screen and (max-width: 550px){
    html{
        font-size:  85%;
    }
    main, .tabela {
        width: 100%;
        padding: 10px;
    }
    
 }
}
@media screen and (max-width: 395px){
    html{
        font-size:  75%;
    }
 }
 @media screen and (max-width: 380px){
    html{
        font-size:  70%;
    }
 }


